html , body {
	background: #212121; 
	color: #fff; 
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
}

#gameCanvas {
	border:solid 1px #333;
	height : 600px;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	width : 800px;
	z-index:100;
}